@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Mukta:wght@500&family=Urbanist:wght@300&display=swap");
body {
  background-color: black;
}
.card {
  width: 350px;
  height: 530px;
  margin: 20px auto;
  border: 1px solid whitesmoke;
  border-radius: 25px;
  background-color: whitesmoke;
}
img {
  border-radius: inherit;
  position: relative;
  width: 340px;
  left: 5px;
  top: 3px;
  background-color: rgb(221, 223, 225);
}
.head {
  display: flex;
  font-family: Kanit;
  opacity: 0.5;
}
h2 {
  position: relative;
  left: 20px;
  bottom: 30px;
  font-family: Kanit;
  padding: 0;
}
p {
  position: relative;
  bottom: 46px;
  color: grey;
  padding: 3%;
}
span {
  border: 2px solid #ada2e6;
  position: relative;
  left: 120px;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #ada2e6;
}
